#FlowerBorder{
    border: 10px solid black;
    padding: 30px;
    border-image: url(https://global.discourse-cdn.com/sitepoint/original/3X/1/8/1872fef2caaeef17e40d7e0ddeb4dbda2f91f788.png) 100 round;
    width: 50%;
}
#FlowerBorderS{
    border: 10px solid black;
    padding: 30px;
    border-image: url(https://global.discourse-cdn.com/sitepoint/original/3X/1/8/1872fef2caaeef17e40d7e0ddeb4dbda2f91f788.png) 100 stretch;
    width: 50%;
}
#PercentBorder{
    border: 10px solid black;
    padding: 30px;
    border-image: url(https://www.w3schools.com/css/border.png) 20% round;
    width: 50%;
}
#PercentBorderS{
    border: 10px solid black;
    padding: 30px;
    border-image: url(https://www.w3schools.com/css/border.png) 20% stretch;
    width: 50%;
}
body{
    background-color: rgb(225, 233, 233);
    font-family: "Noto Sans", 'Times New Roman', Times, serif;
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
  font-size: 20px;
}