#cur1 {
  border: 2px solid green;
  border-radius: 6px;
  padding: 4px;
}
pre {
  color: blue;
}
code {
  color: blueviolet;
}
body{
  background-color: rgb(193, 250, 250);
}
#cur2 {
  border-radius: 12px;
  background-color: lightblue;
  padding: 15px;
  height: 80px;
  border: 3px solid blue;
  width: 50%;
  margin: auto;
}
.ps {
  text-align: center;
  font-size: 20px;
}
#cur3 {
  border-radius: 12px;
  padding: 15px;
  height: 80px;
  border: 3px solid blue;
  width: 50%;
  margin: auto;
}
#cur4 {
  border-radius: 12px;
  background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wEaB?ver=832c);
  padding: 15px;
  height: 80px;
  border: 3px solid blue;
  width: 50%;
  margin: auto;
  color: white;
}
#cur6 {
  border-radius: 12px 80px;
  padding: 15px;
  background-color: lightgreen;
  height: 80px;
  border: 3px solid blue;
  width: 50%;
  margin: auto;
  color: blue;
}
#cur5 {
  border-radius: 30px 0px 0px 0px;
  padding: 15px;
  background-color: lightgreen;
  height: 80px;
  border: 3px solid blue;
  width: 50%;
  margin: auto;
  color: blue;
}

#cur7 {
  border-radius: 12px 80px 30px;
  padding: 15px;
  background-color: lightgreen;
  height: 80px;
  border: 3px solid blue;
  width: 50%;
  margin: auto;
  color: blue;
}
#cur8 {
  border-radius: 23px 100px 40px 17px;
  padding: 15px;
  background-color: lightgreen;
  height: 80px;
  border: 3px solid blue;
  width: 50%;
  margin: auto;
  color: blue;
}
#cur8 {
  border-radius: 23px 100px 40px 17px;
  padding: 15px;
  background-color: lightgreen;
  height: 80px;
  border: 3px solid blue;
  width: 50%;
  margin: auto;
  color: blue;
}
