body{
    background-image: url(https://th.bing.com/th?id=OIP.f7Hfk_qKrw0cgfFGc2A5-wHaE8&w=306&h=204&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2);
    background-size: cover;
    background-repeat: no-repeat;
}
/* This will get an bg img in the file and will make it look good with gt3 rs. */