body{
    background-color: beige;
    margin-right: 300px;
    background-image: url(https://th.bing.com/th/id/R.e7cd112010c2364f5efdfb3b3af5d4a8?rik=9eOGk%2bKnLZAOuA&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_74584.png&ehk=k8Xv09ORAy93Nv%2fsp6PeIRiEXTc7N1zx7HO9XADYaZc%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 300px;
    background-attachment: fixed;
}
